In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("AppearsOnlyOnce").getOrCreate()

In [3]:
# Filtering & Transformation: Given a DataFrame, how do you filter out rows where a column value appears only once?

data = [
    (1, "A"),
    (2, "B"),
    (3, "A"),
    (4, "C"),
    (5, "D"),
    (6, "B"),
    (7, "E")
]
columns = ["id", "group"]

df = spark.createDataFrame(data, columns)
df.show()

+---+-----+
| id|group|
+---+-----+
|  1|    A|
|  2|    B|
|  3|    A|
|  4|    C|
|  5|    D|
|  6|    B|
|  7|    E|
+---+-----+

In [8]:
df_grouped = df.groupBy("group").count().filter(col("count") == 1)
df_grouped.show()

+-----+-----+
|group|count|
+-----+-----+
|    C|    1|
|    D|    1|
|    E|    1|
+-----+-----+

In [9]:
df.join(df_grouped, on="group", how="inner").select(df["*"]).show()

+---+-----+
| id|group|
+---+-----+
|  4|    C|
|  5|    D|
|  7|    E|
+---+-----+