In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *


spark = SparkSession.builder.appName("JoinOnMultipleColumns").getOrCreate()

25/06/30 10:24:32 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
# First DataFrame: df1
data1 = [
    (1, "Alice", "HR"),
    (2, "Bob", "IT"),
    (3, "Charlie", "Finance"),
    (4, "David", "IT")
]
columns1 = ["id", "name", "dept"]

df1 = spark.createDataFrame(data1, columns1)

df1.show()

+---+-------+-------+
| id|   name|   dept|
+---+-------+-------+
|  1|  Alice|     HR|
|  2|    Bob|     IT|
|  3|Charlie|Finance|
|  4|  David|     IT|
+---+-------+-------+

In [4]:
# Second DataFrame: df2
data2 = [
    (1, "HR", 5000),
    (2, "IT", 6000),
    (3, "Finance", 7000),
    (5, "Marketing", 8000)
]
columns2 = ["emp_id", "dept", "salary"]

df2 = spark.createDataFrame(data2, columns2)

df2.show()

+------+---------+------+
|emp_id|     dept|salary|
+------+---------+------+
|     1|       HR|  5000|
|     2|       IT|  6000|
|     3|  Finance|  7000|
|     5|Marketing|  8000|
+------+---------+------+

In [5]:
df_joined = df1.join(df2, (df1.dept == df2.dept) & (df1.id == df2.emp_id), "inner")
df_joined.show()

+---+-------+-------+------+-------+------+
| id|   name|   dept|emp_id|   dept|salary|
+---+-------+-------+------+-------+------+
|  3|Charlie|Finance|     3|Finance|  7000|
|  1|  Alice|     HR|     1|     HR|  5000|
|  2|    Bob|     IT|     2|     IT|  6000|
+---+-------+-------+------+-------+------+