In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("test").getOrCreate()

25/06/09 23:08:02 WARN Utils: Your hostname, Rams-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.3 instead (on interface en0)
25/06/09 23:08:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/09 23:08:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/06/09 23:08:03 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
lines = [
"Write a function that takes a string as input and returns a list of characters that appear twice consecutively in the string", 
"Write a function that takes a string as input and returns a list of characters that appear twice consecutively in the string",
"Write a function that takes a string as input and returns a list of characters that appear twice consecutively in the string"
]

In [3]:
rdd = spark.sparkContext.parallelize(lines)
words = rdd.flatMap(lambda x: x.split(" ")).map(lambda x: (x, 1)).reduceByKey(lambda x,y: x+y)
words.sortBy(lambda x:x[1], False).take(5)

[('a', 9), ('that', 6), ('string', 6), ('input', 3), ('of', 3)]

In [ ]:
"""
Question 2:
Write a function that takes a string as input and returns a list of characters that appear twice consecutively in the string.

For example:
Input: "apple" → Output: ["p"]
Input: "committee" → Output: ["m", "t"]
The function should only return the characters that appear exactly two times in a row, not elsewhere in the string.
"""

In [41]:
def repeatedChar(word):
    result = []
    for i in range(len(word) -1):
        if word[i] == word[i+1]:
            if word[i] not in result:
                result.append(word[i])
    return result

In [42]:
res = repeatedChar("apple")
print(res)

['p']

In [43]:
res = repeatedChar("commmittee")
print(res)

['m', 't', 'e']

In [1]:
# emp_table
# id, dept_name, emp_name, salary
# Top 3 highest earning emp in each department

"""
-- Using CTE with DENSE_RANK (handles ties properly)
WITH salary_ranked AS (
    SELECT 
        id, 
        dept_name, 
        emp_name, 
        salary,
        DENSE_RANK() OVER (PARTITION BY dept_name ORDER BY salary DESC) as salary_rank
    FROM emp
)
SELECT 
    id, 
    dept_name, 
    emp_name, 
    salary
FROM salary_ranked
WHERE salary_rank <= 3
ORDER BY dept_name, salary_rank;

"""

"""
SELECT * 
FROM (
    SELECT 
        id, 
        dept_name, 
        emp_name, 
        salary,
        DENSE_RANK() OVER (PARTITION BY dept_name ORDER BY salary DESC) as salary_rank
    FROM emp
) as temp
WHERE salary_rank <= 3
ORDER BY dept_name, salary_rank;

"""

SyntaxError: invalid syntax (<ipython-input-1-43d0d25f2bba>, line 1)